
<!DOCTYPE html>

<head>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>My Notes</title>


</head>
<br>
    <a href="/home"><heading>Home</heading></a>
    


    <hr>
    <center>

    <h2 style="float:center"> Welcome {{user.get_username}}</h2>
    <br>
    <!-- <h4>Create New Note</h4> -->
    <br>
    

    <textarea id="Note-box" rows="3" cols="30" placeholder="Note Title"></textarea><br><br>
    <textarea id="create-box" rows="5" cols="50" placeholder="Write your note here"></textarea><br>
    <button type="submit" style="margin-top:2%" onclick="createNote()">Create Note</button>
    </center>

</body>
</html>

<script>


function createNote() {
    if (document.getElementById('create-box').value==''|| document.getElementById('Note-box').value==''){
            alert("Please write something in notes")
    }
    else{
        $.ajax({
                url:'/notes/create',
                type: "GET",
                data: {
                    new_note: document.getElementById('create-box').value, 
                    new_title: document.getElementById('Note-box').value, 
                },
                success: redirect_to_homepage
            });
    }
            
        }

        function redirect_to_homepage(){
    window.location.href = "/home";

}


</script>