
.create {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 22px;
    height: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
    :hover{
        box-shadow: 0 0 0 0.15rem #5ceace;
    }
    
}

.logbutton{
    
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 22px;
    height: 50px;
    font-weight: 400;
    color:#fff;
    text-align: center;
    line-height: normal;
    background: rgb(196, 199, 206);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;

    
}

.about-content {
    background-color: beige;
    width: 102%;
    display: flex;
    justify-content: space-evenly;
}


.about-write h1{
    font-size: xxx-large;
    text-align: center;
    margin-left: 9vh;
    margin-top: 8%;
    color: black;
    font-family: "Trirong", serif;
}
.about-write p{
    font-size: 150%;
    text-align: center;
    margin-left: 11vh;
    font-family: "Trirong", serif;
}